.whitesmoke {
    background-color:whitesmoke;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-top: 0.5em;
}

.pictureCol {
    margin-left: 1em;
}

.image {
    display: grid;
    place-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.informationTable {
    border-collapse: separate; 
    border-spacing: .5em;
}