.whitesmoke {
    background-color:whitesmoke;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-top: 0.5em;
}

.promotion {
    margin-left: 1em;
}

.information {
    margin-left: 1em;
    padding-top: 0.5em !important;
}

.infRow {
    margin-top: 0.5em !important;
}

.openTrueFalse {
    margin-left: 1em;
}