.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.promoImage {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.nav-link {
    color: #71BF44;
}

.nav-link:hover {
    color: #426D27;
    transform: scale(1.1);
    transition: .1s ease-in-out;
}

.navbar-brand:hover {
    transform: scale(1.05);
    transition: .1s ease-in-out;
}